@using maile.ViewModels.Shared
@model Paragraph
<table cellpadding="0" cellspacing="0" style="width:100%; background-color: @Model.Bg_color">
    <tbody>
        <tr>
            <td style="padding: 0 @Model.Padding @Model.Padding; color: @Model.Color; text-align: @Model.Align">@Html.Raw(Model.Text)</td>
        </tr>
    </tbody>
</table>