@using maile.ViewModels.Shared
@{
    ViewBag.Title = "Feature Matrix";
    ViewBag.Message = "EVERYTHING IS MATRIX";
}

<table cellpadding="0" cellspacing="0" style="width:100%; background-color: #777777;  margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="padding: 20px 10px;">
                <h1 style="margin-bottom:0; color: white;">@ViewBag.Title</h1>
                <h5 style="margin-top:0; color: white;">@ViewBag.Message</h5>
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Left / Auto" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td>@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</td>
            <td style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Right" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
            <td>@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Top" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td>@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</td>
        </tr>
        <tr>
            <td style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Bottom" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
        <tr>
            <td style="padding: 0 0 10px 0;"></td>
        </tr>
        <tr>
            <td>@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Left / Auto | Picture size: 6" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="width: 50%">@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</td>
            <td style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Top | Picture size: 6" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="width: 100%; text-align: center;"><div style="width: 50%; margin: 0 auto;">@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</div></td>
        </tr>
        <tr>
            <td style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Top | Picture size: 6 (2)" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="width: 100%; text-align: center;"><img style="width: 50%" src="https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg"></td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 0 10px;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Left | Background color" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px; background-color: #777777">
    <tbody>
        <tr>
            <td>@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg", Href = "https://www.ceneo.pl/" })</td>
            <td style="padding: 0 10px; color: #ffffff">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Position Top | Picture size: 6 (2)" })

<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom: 10px; background-color: #777777;">
    <tbody>
        <tr>
            <td style="width: 100%; text-align: center;"><img style="width: 50%" src="https://image.ceneo.pl/data/article_picture/0a/13/92a6-de03-4f8f-9cfb-719f96254bfb_large.jpg"></td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 0 10px; color: #ffffff;">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.</td>
        </tr>
    </tbody>
</table>

<table>
    <tr>
        <td style="padding: 0 0 100px 0;"></td>
    </tr>
</table>