@using maile.ViewModels.Shared

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 20px 10px;">
                <font size="6" style="margin-bottom:0; @ViewBag.CustomFont">Dzień dobry!</font>
            </td>
            <td style="padding: 20px 10px; width: 30%;">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0 10px 20px 10px;">
                <span style="margin-top:0"><b>Użytkownicy portalu Ceneo.pl zadali pytania do oferowanych przez Ciebie produktów. Pomóż swoim klientom i dodaj odpowiedź!</b><br><br>Pamiętaj, że odpowiadając na pytania masz szansę zyskać nowych klientów, budujesz z nimi bliską relację, a do Twoich odpowiedzi mogą zostać dodane Twoje oferty! Dzięki temu klienci łatwiej dokonają zakupu. Dodatkowo w tym miejscu nie konkurujesz ceną, a merytoryczne odpowiedzi pomogą budować pozytywny wizerunek Twojej firmy.</span>
                <a style="color: #0071C5" href="https://www.ceneo.pl/lp/pytania-i-odpowiedzi-producenci">Dowiedz się więcej...</a>
                <a style="color: #0071C5" href="https://www.ceneo.pl/lp/pytania-i-odpowiedzi-sklepy">Dowiedz się więcej...</a>
            </td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td style="padding: 10px 10px; width: 20%;">@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Height = "150", Width = "140", Src = "https://image.ceneo.pl/data/products/38180084/p-amica-amgf17m1b.jpg", Href = "https://www.ceneo.pl/" })</td>
            <td style="padding: 10px 10px; width: 70%;">
                <span style="color: #777777">Telefony i akcesoria</span>
                <h4 style="margin: 0 0 10px 0; @ViewBag.CustomFont">Samsung Galaxy S8 64GB SM-G950 Midnight Black</h4>

                <table cellpadding="0" cellspacing="0" style="width:100%">
                    <tbody>             
                        <tr>
                            <td width="36" style="text-align:center; vertical-align: top;"><font size="6" style="color: #0071C5; line-height: 1; vertical-align: middle; font-weight: bold;">”</font></td>
                            <td style="padding: 0 0 20px 0">
                                <h4 style="margin: 0 0 10px 0; @ViewBag.CustomFont"><i>Bluetooth 5.0 w S8 a połączenie z Car audio</i></h4>
                                <i>Witam, czy ma ktoś problemy z połączeniem S8 z samochodowym audio przez BT? Czytałem gdzieś że BT5.0 jest niekompatybilny wstecz (co było by paranoją - wiem) stąd chciałem się upewnić jak z tym jest?</i>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>@Html.Partial("modules/_Button", new Button() { Text = "ODPOWIEDZ", Url = "https://www.ceneo.pl", Bg_color = "#0071C5", Color = "#ffffff", Align = "left" })</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2"><div style="border-bottom: 1px solid #eeeeee"></div></td>
        </tr>
    </tbody>
</table>


<table cellpadding="0" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td style="padding: 10px 10px; width: 20%;">@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Height = "150", Src = "https://image.ceneo.pl/data/products/48065367/f-philips-oneblade-qp2520-20.jpg", Href = "https://www.ceneo.pl/"})</td>
            <td style="padding: 10px 10px; width: 70%;">
                <span style="color: #777777">Trymery</span>
                <h4 style="margin: 0 0 10px 0; @ViewBag.CustomFont">Philips OneBlade QP2520/20</h4>

                <table cellpadding="0" cellspacing="0" style="width:100%">
                    <tbody>
                        <tr>
                            <td width="36" style="text-align: center; vertical-align: top;"><font size="6" style="color: #0071C5; line-height: 1; vertical-align: middle; font-weight: bold;">”</font></td>
                            <td style="padding: 0 0 20px 0">
                                <h4 style="margin: 0 0 10px 0; @ViewBag.CustomFont"><i>Golenie do "zera"</i></h4>
                                <i>Wszyscy piszą o modelowaniu itd, ale czy wyzeruję zarost? Ile końcówek jest w zestawie do zerowania o ile są do tego potrzebne?</i>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>@Html.Partial("modules/_Button", new Button() { Text = "ODPOWIEDZ", Url="https://www.ceneo.pl", Bg_color = "#0071C5", Color = "#ffffff", Align = "left" })</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2"><div style="border-bottom: 1px solid #eeeeee"></div></td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Footer", new Footer())
