@using maile.ViewModels.Shared

@Html.Partial("modules/_Img", new Img() { Width = "720", Height = "360", Align = "center", Src = "https://image.ceneo.pl/data/showcase_picture/2551/showcase_d.png?=dea3c", Href = "https://www.ceneo.pl/wydarzenia/Pomysl-na-gwiazdkowy-prezent" })

<table style="width:100%">
    <tbody>
        <tr>
            <td style="width:33%; padding: 5px 5px 5px 0;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/31.jpg", Href = "https://www.mediaexpert.pl/lp,przeceny-na-swieta?utm_source=Ceneo.pl&utm_medium=300x300&utm_content=LP&utm_campaign=2017.12.14_Przeceny-na-swieta" })
            </td>
            <td style="width:33%; padding: 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/2-2.jpg", Href = "https://www.emag.pl/cmp/emagia/?utm_medium=link&utm_source=Ceneo.pl&utm_campaign=wszystkie&utm_term=swieta&cmpid=60049" })
            </td>
            <td style="width:33%; padding: 5px 0 5px 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/3-2.jpg", Href = "https://www.oleole.pl/cms/przebijemy-ceny-innych-sklepow.bhtml" })
            </td>
        </tr>
        <tr>
            <td style="width:33%; padding: 5px 5px 5px 0;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/4-1.jpg", Href = "https://www.euro.com.pl/cms/promocje.bhtml?oldurl=pierwsza-rata-swieta.bhtml&utm_source=ceneo&utm_medium=300x300&utm_campaign=pierwsza-rata-swieta&utm_content=generic" })
            </td>
            <td style="width:33%; padding: 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/5.jpg", Href = "https://www.euro.com.pl/search.bhtml?keyword=varta%20slim" })
            </td>
            <td style="width:33%; padding: 5px 0 5px 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/6.jpg", Href = "https://vordon.pl/pol_m_SAMOCHOD_Nawigacje-GPS-194.html?utm_source=ceneoswieta" })
            </td>
        </tr>
        <tr>
            <td style="width:33%; padding: 5px 5px 5px 0;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/7.jpg", Href = "https://www.ceneo.pl/producenci/epson;szukaj-epson_itspromocja_2017" })
            </td>
            <td style="width:33%; padding: 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/8.jpg", Href = "https://www.ceneo.pl/producenci/brita/Dzbanki_filtrujace" })
            </td>
            <td style="width:33%; padding: 5px 0 5px 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "233", Align = "center", Src = "http://ekspert.ceneo.pl/wp-content/uploads/2017/12/9.jpg", Href = "https://ad.doubleclick.net/ddm/trackclk/N737972.279032CENEO.PL/B20474881.210808793;dc_trk_aid=410433529;dc_trk_cid=96105302;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" })
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 10px 0;"></td>
        </tr>
    </tbody>
</table>


<table style="width:100%">
    <tbody>
        <tr>
            <td style="width:33%; padding: 5px 5px 5px 0;">
                @Html.Partial("modules/_Img", new Img() { Width = "600", Height = "300", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/55/ff/609f-76fd-43cb-b61a-49e94fc1d564_large.png", Href = "http://ekspert.ceneo.pl/gamingowy-kalendarz-adwentowy/?utm_source=Newsletter&utm_medium=LandingPage&utm_content=GamingowyKalendarzAdwentowy" })
            </td>
        </tr>
    </tbody>
</table>

<table style="width:100%">
    <tbody>
        <tr>
            <td style="width:33%; padding: 5px 5px 5px 0;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "181", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/e9/cd/6f9c-a048-47d3-af8a-91fb1deefd88_large.png", Href = "https://www.ceneo.pl/wydarzenia/Pomysl-na-gwiazdkowy-prezent#dlaniej" })
            </td>
            <td style="width:33%; padding: 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "181", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/e2/b2/ca85-6334-422d-9897-6abf16189938_large.png", Href = "https://www.ceneo.pl/wydarzenia/Pomysl-na-gwiazdkowy-prezent#dlaniego" })
            </td>
            <td style="width:33%; padding: 5px 0 5px 5px;">
                @Html.Partial("modules/_Img", new Img() { Width = "233", Height = "181", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/a4/f6/b118-1302-4e52-9bd8-8b883588ee86_large.png", Href = "https://www.ceneo.pl/wydarzenia/Pomysl-na-gwiazdkowy-prezent#dladziecka" })
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 10px 0;"></td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Separator", new Separator() { Height = "20px" })

@Html.Partial("modules/_Footer", new Footer())