@using maile.ViewModels.Shared

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td>
                @Html.Partial("modules/_Img", new Img() { Alt = "Formularz", Width = "720", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/3a/72/fbbc-2b30-420a-9f3b-1908d3b2fd93_large.jpg", Href = "https://www.ceneo.pl/lp/naklejki-na-paczki" })
            </td>
        <tr>
        <tr>
            <td style="background-color:#67AE3E;padding: 20px;">@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "center", Color = "#ffffff", Text = "<b>Zamów naklejki, promuj się paczkami</b>" })</td>
        </tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 20px 10px;">
                <font size="6" style="margin-bottom:0; @ViewBag.CustomFont">Witamy!</font>
            </td>
            <td style="padding: 20px 10px; width: 30%;">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0 10px 20px 10px;">
                <span style="margin-top:0; text-align: justify; display:inline-block;">Wychodząc naprzeciw Państwa oczekiwaniom, w związku z ogromnym zainteresowaniem naklejek przedstawiających ogólną ocenę sklepu, stworzyliśmy jej mniejszą wersję, którą mogą Państwo wykorzystać przy wysyłce swoich towarów. Aby otrzymać darmowe naklejki, wystarczy odpowiedzieć na pytanie:</span>
            </td>
        </tr>
    </tbody>
</table>




<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td align="center">@Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#444444", Text = "<b>Jak CENEO.pl wpływa na rozwój Państwa biznesu?</b>" })</td>
        <tr>
        <tr>
            <td  style="padding: 0 10px;">
                @Html.Partial("modules/_Img", new Img() { Alt = "Wymiary naklejek", Width = "500", Align = "center", Src = "https://image.ceneo.pl/data/article_picture/6e/b1/54fe-0027-44e8-83f0-8e7581b844e3_large.png", Href = "https://www.ceneo.pl/lp/naklejki-na-paczki" })
            </td>
        <tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td  style="padding: 0 10px;">@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#444444", Text = "Odpowiedzi można zamieszczać w specjalnym formularzu,<br>do którego link znajduje się poniżej:" })</td>
        <tr>
        <tr>
            <td  style="padding: 0 10px;">@Html.Partial("modules/_Button", new Button() { Text = "PRZEJDŹ DO FORMULARZA", Url = "https://www.ceneo.pl/lp/naklejki-na-paczki", Bg_color = "#67AE3E", Color = "#ffffff", Align = "center" })</td>
        <tr>
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 20px 10px; text-align: center; ">
                W ramach akcji pilotażowej, możliwe jest zamówienie 200 szt. naklejek.<br>
                Sklepy, które posiadają aktywną usługę „<b style="color:#ff6400">Kup na Ceneo</b>” otrzymają maksymalnie 300 szt.
            </td>
        <tr>
    </tbody>
</table>


@Html.Partial("modules/_Footer", new Footer())
