@using MailGenerator.ViewModels.Shared

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "0", Src = "https://preview.ibb.co/kzu5c0/background.png", Href = "https://www.ceneo.pl/73343830#tag=alert-baner" })

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Padding = "10px", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl#tag=alert-logo" })


<table>
    <tbody>
        <tr>
            <td width="200">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "200", Align = "center", Padding = "10px", Src = "//image.ceneostatic.pl/data/products/73343830/f-asus-vivobook-s330-13-3-i5-8gb-256gb-win10-s330uaey028t8gb.jpg", Href = "#tag=alert-miniatura" })
            </td>
            <td>
            @Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "10px", Weight = "400", Text = "Cena produktu <a href='https://www.ceneo.pl/73343830#tag=alert-link'>ASUS VIVOBOOK S330</a><br>spadła poniżej usalonego przez Ciebie poziomu - <b>500,00 zł</b>" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "left", Padding = "10px", Text = "Najniższa cena tego produktu wynosi obecnie:" })

            @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "left", Color = "#212121", Padding = "0 10px 10px 10px", Weight = "400", Text = "<span style='color:#f86210'><b>468,00</b></span> zł" })

    </tr><tr>
        <td width="200"></td>
        <td>
            @Html.Partial("modules/_Button", new Button() { BgColor = "#0071C5", Color = "#ffffff", Align = "left", Padding = "10px", Text = "Zobacz produkt", Href = "https://www.ceneo.pl/73343830#tag=alert-button" })

            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "left", Padding = "10px 10px 30px 10px", Text = "Liczba pozostałych alertów: 3<br><a href='#tag=alert-delete'>skasuj wszystkie moje alerty cenowe</a>" })

            </td>
        </tr>
    </tbody>



@Html.Partial("modules/_Footer", new Footer())
