@using MailGenerator.ViewModels.Shared

<table cellpadding="0" cellspacing="0" style="width:100%; background-color: #f7941e">
    <tbody>
        <tr>
            <td style="padding: 20px 10px; width: 70%">
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "left", Color = "#ffffff", Padding = "0px", Weight = "500", Text = "Ceneo Asystent</b>" })
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#ffffff", Padding = "0px", Weight = "",  Text = "Twój partner w drodze do sukcesu" })
             </td>
            <td style="padding: 20px 10px; width: 50%; vertical-align: bottom">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Padding = "", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })
            </td>
        </tr>
    </tbody>
</table>

<!-- @Html.Partial("modules/_Title", new Title() { Text = "Twoje statystyki z ostatniego tygodnia", Subtitle = "(08.02.2018 - 15.02.2018)", Padding = "0"}) -->

<table style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 0 10px;">
                <table cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed">
                    <tbody>
                        <tr style="vertical-align: bottom;">
                            <th style="padding: 10px; width: 50%; text-align: left; "></th>
                            <th style="padding: 10px; width: 25%; text-align: right;">Wartość</th>
                            <th style="padding: 10px; width: 25%; text-align: right;">Rada</th>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Potencjalni Kupujący, którzy widzieli Twoją ofertę</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">5 899 @Html.Partial("modules/_Change", new Change() { Text = "820", Value = "UP" })</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zobacz", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Ilość przejść </td>
                            <td style="padding: 10px; width: 25%; text-align: right;">31 546 @Html.Partial("modules/_Change", new Change() { Text = "820", Value = "UP" })</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zwieksz zasięg", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Twoje widoczne oferty na Ceneo.pl</td>
                            <td style="padding: 10px; width: 50%; text-align: right;">22</td>
                            <td style="padding: 10px; width: 50%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zobacz", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Środków na koncie wystarczy na</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">18 dni</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zasil konto!", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Masz Punkty na promocje</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">963,00 zł</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Wykorzystaj je!", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Kwota nieopłaconych faktur</td>
                            <td style="padding: 10px; width: 25%; text-align: right;"><span style="color: #ff0000">2 875,00 zł</span></td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Opłać je!", Url = "#"})</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 20px 0;"></td>
        </tr>
    </tbody>
</table>


<!-- @Html.Partial("modules/_Title", new Title() { Text = "Twoje Topowe produkty"}) -->

<table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
        <tr>
            <td style="padding: 10px;">
                <table cellpadding="0" cellspacing="0"style="border:1px solid #e0e0e0;">
                    <tbody>
                        <tr>
                            <td>
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 0 10px;">
                                                <table cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed">
                                                    <tbody>
                                                        <tr style="vertical-align: bottom;">
                                                            <th style="padding: 10px; width: 50%; text-align: left; "></th>
                                                            <th style="padding: 10px; width: 25%; text-align: right;">Przejścia</th>
                                                            <th style="padding: 10px; width: 25%; text-align: right;">Śr. pozycja</th>
                                                        </tr>
                                                        <tr style="background-color: #E8F1F8">
                                                            <td style="padding: 10px; width: 50%; text-align: left; ">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Apple EarPods MD827zM/A", Url = "#"})</td>
                                                            <td style="padding: 10px; width: 25%; text-align: right;">278</td>
                                                            <td style="padding: 10px; width: 25%; text-align: right;">1</td>
                                                        </tr>
                                                        <tr style="background-color: #F9FCFF">
                                                            <td style="padding: 10px; width: 50%; text-align: left; ">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Overmax CAMSPOT 4.4", Url = "#"})</td>
                                                            <td style="padding: 10px; width: 25%; text-align: right;">38</td>
                                                            <td style="padding: 10px; width: 25%; text-align: right;">3</td>
                                                        </tr>
                                                        <tr style="background-color: #E8F1F8">
                                                            <td style="padding: 10px; width: 50%; text-align: left; ">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Maxcom Mm28D", Url = "#"})</td>
                                                            <td style="padding: 10px; width: 25%; text-align: right;">34</td>
                                                            <td style="padding: 10px; width: 25%; text-align: right;">2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0 20px 0;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
</table>

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "700", Align = "center", Padding = "10", Src = "http://jira.ceneo.pl/secure/attachment/155900/Artboard%201%20copy.png", Href = "https://www.ceneo.pl/" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Color = "#444444", Padding = "10px", Weight = "500", Text = "[liczba] - tylu Twoim ofertom brakuje bardzo niewiele by znaleźć się w TOP3." })
@Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Padding= "0 10px 10px 10px", Text = "Ustaw lub podnieś obecną stawkę licytacji i umieść swoją ofertę w sekcji wybieranej przez 60% kupujących." })
@Html.Partial("modules/_Button", new Button() { BgColor = "#0071C5", Color = "#ffffff", Align = "center", Padding = "10px", Text = "Przejdź do zakładki", Href = "https://shops.ceneo.pl/ShopCommercialization/BiddingProducts " })

<!-- <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
        <tr>
            <td style="padding: 10px;">
                <table cellpadding="0" cellspacing="0" border="0" style="border:1px solid #e0e0e0;">
                    <tbody>
                        <tr>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "0", Src = "https://image.ceneostatic.pl/data/article_picture/97/ac/0fb2-6edc-48f2-a1de-36f434403e25_large.jpg", Href = "https://www.ceneo.pl/" })
                                @Html.Partial("modules/_Anchor", new Anchor() { Text = "Napisz nam jakich danych brakuje", Url = "#"})<br><br>
                                @Html.Partial("modules/_Anchor", new Anchor() { Text = "Czy podoba Ci się Asystent?", Url = "#"})
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
</table> -->

<!-- @Html.Partial("Asistant/Table.cshtml") -->

<!-- @Html.Partial("modules/_Title", new Title() { Text = "Ważne informacje"}) -->


<!-- 
@Html.Partial("modules/_Message", new Message() { Status = "Alert", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", Title = "Wkrótce zakończy się wsparcie w licytacji w Strefie polecanych ofert.", Text = "Środki przyznane przez [nazwa_providera] na wspieranie licytacji Twoich ofert w najbliższym czasie zostaną wyczerpane." })

@Html.Partial("modules/_Message", new Message() { Status = "Error", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", ActionText = "Zasil konto", ActionUrl = "https://shops.ceneo.pl/Subscriptions", Title = "Kończą Ci się środki na koncie przedpłat!", Text = "Stan środków na koncie przedpłat sklepu: [domena] w Ceneo.pl osiągnął zdefiniowany przez Ciebie poziom. Zaloguj się pod adresem:  i zasil konto!" })

@Html.Partial("modules/_Message", new Message() { Status = "Success", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", Title = "Otrzymałeś znaczek Zaufane Opinie- gratulujemy!", Text = "Z radością informujemy, że otrzymałeś znaczek Zaufane Opinie. Dzięki temu możesz zacząć cieszyć się z szeregu korzyści. Posiadanie znaczka zwiększa 4Xkrotnie zainteresowanie ofertą oznaczonego sklepu. Teraz Oznaka jest widoczna przy każdej twojej ofercie na Ceneo.pl" })

@Html.Partial("modules/_Message", new Message() { Status = "Info", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", Title = "Wkrótce zakończy się wsparcie w licytacji w Strefie polecanych ofert.", Text = "Środki przyznane przez [nazwa_providera] na wspieranie licytacji Twoich ofert w najbliższym czasie zostaną wyczerpane." }) -->


@Html.Partial("modules/_Footer", new Footer())
