@using MailGenerator.ViewModels.Shared

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 20px 10px; width: 70%">
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "left", Color = "#444444", Padding = "0px", Weight = "500", Text = "Ceneo Asystent</b>" })
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "0px", Weight = "",  Text = "Twój partner w drodze do sukcesu" })
             </td>
            <td style="padding: 20px 10px; width: 50%">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Padding = "10px", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Title", new Title() { Text = "Twoje statystyki z ostatniego tygodnia", Subtitle = "(08.02.2018 - 15.02.2018)", Padding = "0"})

<table style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 0 10px;">
                <table cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed">
                    <tbody>
                        <tr style="vertical-align: bottom;">
                            <th style="padding: 10px; width: 50%; text-align: left; "></th>
                            <th style="padding: 10px; width: 25%; text-align: right;">Wartość</th>
                            <th style="padding: 10px; width: 25%; text-align: right;">Rada</th>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Potencjalni Kupujący, którzy widzieli Twoją ofertę</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">5 899 @Html.Partial("modules/_Change", new Change() { Text = "820", Value = "UP" })</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zobacz", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Ilość przejść </td>
                            <td style="padding: 10px; width: 25%; text-align: right;">31 546 @Html.Partial("modules/_Change", new Change() { Text = "820", Value = "UP" })</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zwieksz zasięg", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Twoje widoczne oferty na Ceneo.pl</td>
                            <td style="padding: 10px; width: 50%; text-align: right;">22</td>
                            <td style="padding: 10px; width: 50%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zobacz", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Środków na koncie wystarczy na</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">18 dni</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Zasil konto!", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Masz Punkty na promocje</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">963,00 zł</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Wykorzystaj je!", Url = "#"})</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">Kwota nieopłaconych faktur</td>
                            <td style="padding: 10px; width: 25%; text-align: right;"><span style="color: #ff0000">2 875,00 zł</span></td>
                            <td style="padding: 10px; width: 25%; text-align: right;">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Opłać je!", Url = "#"})</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 20px 0;"></td>
        </tr>
    </tbody>
</table>


@Html.Partial("modules/_Title", new Title() { Text = "Twoje Topowe produkty"})

<table style="width:100%;">
    <tbody>
        <tr>
            <td style="padding: 0 10px;">
                <table cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed">
                    <tbody>
                        <tr style="vertical-align: bottom;">
                            <th style="padding: 10px; width: 50%; text-align: left; "></th>
                            <th style="padding: 10px; width: 25%; text-align: right;">Przejścia</th>
                            <th style="padding: 10px; width: 25%; text-align: right;">Śr. pozycja</th>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Apple EarPods MD827zM/A", Url = "#"})</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">278</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">1</td>
                        </tr>
                        <tr style="background-color: #F9FCFF">
                            <td style="padding: 10px; width: 50%; text-align: left; ">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Overmax CAMSPOT 4.4", Url = "#"})</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">38</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">3</td>
                        </tr>
                        <tr style="background-color: #E8F1F8">
                            <td style="padding: 10px; width: 50%; text-align: left; ">@Html.Partial("modules/_Anchor", new Anchor() { Text = "Maxcom Mm28D", Url = "#"})</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">34</td>
                            <td style="padding: 10px; width: 25%; text-align: right;">2</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 20px 0;"></td>
        </tr>
    </tbody>
</table>


@Html.Partial("modules/_Title", new Title() { Text = "Ważne informacje"})

<table cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed; width:100%; border-spacing: 10px; border-collapse: separate!important;">
    <tbody>
        <tr>
            <td style="width: 50%; vertical-align: top; border: 1px solid #dadada;">
                @Html.Partial("modules/_Card", new Card() {Color = "#2170b9", ActionText = "zasil konto", ActionUrl = "#", Title = "Wkrótce zakończy się wsparcie w licytacji", Subtitle = "w Strefie polecanych ofert.", Text = "Środki przyznane przez [nazwa_providera] na wspieranie licytacji Twoich ofert w najbliższym czasie zostaną wyczerpane.", ImageUrl = "https://t3.ftcdn.net/jpg/01/97/02/06/160_F_197020671_8MpOKOzbcyCpa2ziCnAfVnsseNTyXY3V.jpg" })
            </td>

            <td style="width: 50%; vertical-align: top; border: 1px solid #dadada;">
                @Html.Partial("modules/_Card", new Card() {Color = "#c20000", ActionText = "zaloguj się", ActionUrl = "https://shops.ceneo.pl/Subscriptions", Title = "Kończą Ci się środki", Subtitle = "na koncie przedpłat!", Text = "Stan środków na koncie przedpłat sklepu: [domena] w Ceneo.pl osiągnął zdefiniowany przez Ciebie poziom. Zaloguj się pod adresem:  i zasil konto!", ImageUrl = "https://t3.ftcdn.net/jpg/01/97/02/06/160_F_197020671_8MpOKOzbcyCpa2ziCnAfVnsseNTyXY3V.jpg" })
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Message", new Message() { Status = "Alert", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", Title = "Wkrótce zakończy się wsparcie w licytacji w Strefie polecanych ofert.", Text = "Środki przyznane przez [nazwa_providera] na wspieranie licytacji Twoich ofert w najbliższym czasie zostaną wyczerpane." })

@Html.Partial("modules/_Message", new Message() { Status = "Error", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", ActionText = "Zasil konto", ActionUrl = "https://shops.ceneo.pl/Subscriptions", Title = "Kończą Ci się środki na koncie przedpłat!", Text = "Stan środków na koncie przedpłat sklepu: [domena] w Ceneo.pl osiągnął zdefiniowany przez Ciebie poziom. Zaloguj się pod adresem:  i zasil konto!" })

@Html.Partial("modules/_Message", new Message() { Status = "Success", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", Title = "Otrzymałeś znaczek Zaufane Opinie- gratulujemy!", Text = "Z radością informujemy, że otrzymałeś znaczek Zaufane Opinie. Dzięki temu możesz zacząć cieszyć się z szeregu korzyści. Posiadanie znaczka zwiększa 4Xkrotnie zainteresowanie ofertą oznaczonego sklepu. Teraz Oznaka jest widoczna przy każdej twojej ofercie na Ceneo.pl" })

@Html.Partial("modules/_Message", new Message() { Status = "Info", Align = "left", Padding = "10px", Margin = "10px", Weight = "600", Title = "Wkrótce zakończy się wsparcie w licytacji w Strefie polecanych ofert.", Text = "Środki przyznane przez [nazwa_providera] na wspieranie licytacji Twoich ofert w najbliższym czasie zostaną wyczerpane." })


@Html.Partial("modules/_Footer", new Footer())

@Html.Partial("modules/_Separator", new Separator() { Height = "100px", BgColor = "#eeeeee" })