@using MailGenerator.ViewModels.Shared

<table  cellpadding="0" cellspacing="0" >
    <tbody>
        <tr>
            <td style="background-color: #161616">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "0", Src = "https://image.ceneostatic.pl/data/custom_images/72/custom_image.png", Href = "https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-button"})
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Padding = "10px", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-ceneo-logo" })
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "center", Color = "#ffffff", Padding = "10px", Weight = "500", Text = "Black Friday już dziś!" })
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#ffffff", Padding = "10px", Weight = "500", Text = "Wyprzedaże do <span style='font-size: 1.5em; color: #f86210'>-70%</span> ruszyły<br>odwiedź <a href='https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-button' style='color: #f86210; text-decoration: none'>Ceneo.pl</a> i upoluj najlepsze okazje!" })
                @Html.Partial("modules/_Button", new Button() { BgColor = "#f86210", Color = "#ffffff", Align = "center", Padding = "20px", Text = "SPRAWDŹ", Href = "https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-button" })
                 @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#ffffff", Padding = "30px 10px 10px 10px", Weight = "500", Text = "Najlepsze okazje u naszych partnerów" })
               
                <table  cellpadding="0" cellspacing="0" style="width: 100%">
                    <tbody>
                        <tr>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/57/custom_image.png", Href = "https://www.mediaexpert.pl/lp,black-weeks?utm_source=Ceneo.pl&utm_medium=300x300&utm_content=LP&utm_campaign=2018.11.23_Black-friday"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/73/custom_image.png", Href = "https://www.euro.com.pl/cms/black-friday.bhtml?utm_source=ceneo.pl&utm_medium=300x300&utm_campaign=23-11-2018_black_friday_zasieg"}) 
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/60/custom_image.jpeg", Href = "https://www.emag.pl/cmp/black-week/?utm_source=price_comparer&utm_medium=banner&utm_campaign=bf_ceneo_2018_rewq&utm_content=ceneo_pl&cmpid=81396"})
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/67/custom_image.jpeg", Href = "https://clk.tradedoubler.com/click?p=294887&a=1971172&g=24461188"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/69/custom_image.png", Href = "https://www.oleole.pl/cms/urodziny.bhtml?utm_source=ceneo&utm_medium=List_Grudz_2018"}) 
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/56/custom_image.png", Href = "https://www.ceneo.pl/66662103;12627,312,10772,10745,22156-0v.htm"})
                            </td>
                        </tr>
                    </tbody>
                </table>         
                 @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "0", Src = "https://image.ceneostatic.pl/data/custom_images/71/custom_image.png", Href = "https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-baner"})
                <table  cellpadding="0" cellspacing="0" >
                    <tbody>
                        <tr>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/64/custom_image.png", Href = "https://sklep.vivamix.pl/48l-kitchenaid-artisan-5-czarny-diament-id-844"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/68/custom_image.png", Href = "https://www.ceneo.pl/producenci/braun/Urzadzenia_do_pielegnacji_ciala;szukaj-braun_depilatorygolarki_112018;312,945,10745,10772,12627,12851,15585,16206,18137,18139,19865-0v.htm"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/66/custom_image.png", Href = "https://www.ceneo.pl/producenci/leifheit;szukaj-leifheit_soehnle_112018;28497-0v.htm"})
                            </td>  
                        </tr>
                        <tr>
                             <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/75/custom_image.jpeg", Href = "https://www.ceneo.pl/producenci/olympus"})
                            </td>
                             <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/54/custom_image.jpeg", Href = "https://www.orange.pl/lp/black-week"})
                            </td>
                             <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/55/custom_image.jpeg", Href = "https://www.play.pl/telefony/urzadzenia-bez-abonamentu/#group=strefa-mare"})
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/65/custom_image.png", Href = "https://maxelektro.pl/max-elektro-black-friday-2018/?utm_source=ceneo&utm_medium=LP&utm_campaign=BF2018"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/63/custom_image.jpeg", Href = "https://www.gatta.pl/pl/blackfriday.html?utm_source=ceneo&utm_medium=baner_300X300&utm_campaign=19.11.2018_BLACKFRIDAY"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/61/custom_image.jpeg", Href = "https://www.ceneo.pl/lp/logitech-promocja'"})
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/62/custom_image.png", Href = "https://www.ceneo.pl/producenci/epson/Do_500_zl_zwrotu-zt"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/58/custom_image.png", Href = "https://www.swiatksiazki.pl/promocja-specjalna"})
                            </td>
                            <td>
                                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "234", Align = "center", Padding = "3px", Src = "https://image.ceneostatic.pl/data/custom_images/74/custom_image.jpeg", Href = "https://ad.doubleclick.net/ddm/trackclk/N100601.279032CENEO.PL/B21984975.234215129;dc_trk_aid=431904407;dc_trk_cid="})
                            </td>
                        </tr>


                    </tbody>
                </table>   

                @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#ffffff", Padding = "30px 10px 10px 10px", Weight = "500", Text = "Wyprzedaże do <span style='font-size: 1.5em; color: #f86210'>-70%</span> tylko na <a href='https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-button' style='color: #f86210; text-decoration: none'>Ceneo.pl</a>" }) 
                @Html.Partial("modules/_Button", new Button() { BgColor = "#f86210", Color = "#ffffff", Align = "center", Padding = "20px", Text = "SPRAWDŹ", Href = "https://www.ceneo.pl/wydarzenia/black-friday#tag=bf-mail-button" })        
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Footer", new Footer())

@Html.Partial("modules/_Separator", new Separator() { Height = "100px", BgColor = "#eeeeee" })