@using MailGenerator.ViewModels.Shared

<table cellpadding="0" cellspacing="0" style="width:100%; background-color: #f7941e">
    <tbody>
        <tr>
            <td style="padding: 20px 10px; width: 70%">
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "left", Color = "#ffffff", Padding = "0px", Weight = "500", Text = "Mood Manager" })
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#ffffff", Padding = "0px", Weight = "",  Text = "NIECH MOC BĘDZIE Z NAMI" })
             </td>
            <td style="padding: 20px 10px; width: 50%; vertical-align: bottom">
                @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Height = "37", Align = "right", Padding = "", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })
            </td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Src = "https://preview.ibb.co/ebasoT/title.jpg", Href = "https://www.ceneo.pl/" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", BgColor = "#ffffff", Text = "Cześć," })
@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", BgColor = "#ffffff", Text = "W ramach Mood Managera zapraszam na wspólne wyjście do kina na film:" })

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "200", Height = "87", Align = "center", Src = "https://image.ibb.co/nz1OTT/hansolo1.png" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#003c5d", Padding = "10px", Weight = "500", Text = "Start: 7 czerwca, po godzinie 17:00, koszt biletu: 7zł*" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#003c5d", Padding = "10px", Weight = "500", Text = "*mimo indywidualnej ceny za bilet, budżet Mood Menagera może nie wystarczyć na pokrycie całkowitej kwoty, a jest ona mocno uzależnione od ilości uczestników." })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h4", Align = "center", Color = "#003c5d", Padding = "10px", Weight = "500", Text = "Osoby zainteresowane wyjściem proszę o zapisanie się na listę, abym wiedział na ile osób zarezerwować salę i określić ostateczny koszt: " })

@Html.Partial("modules/_Button", new Button() { BgColor = "#f86210", Color = "#ffffff", Align = "center", Padding = "10px", Text = "Zapisz się", Href = "https://ceneo-my.sharepoint.com/:x:/g/personal/marta_mamzer_ceneo_pl/EUO1C5T-rTBCsaakDqVi4EUBoB_VJrDOUzTb911s-ErFDg?e=KBNZNQ" })

@Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "right", Padding = "10px", Text = "~Witold Zaklukiewicz" })
