@using MailGenerator.ViewModels.Shared

@*----- Image -----*@

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "0", Src = "https://www.geekster.be/wp-content/uploads/2016/03/adventuretime.jpg", Href = "https://www.ceneo.pl/" })

@*----- Image[Logo] -----*@

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Padding = "10px", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })

@*----- Heading -----*@

@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "center", Color = "#444444", Padding = "10px", Weight = "500", Text = "Przykładowy mail" })

@*----- Paragraph -----*@

@Html.Partial("modules/_Paragraph", new Paragraph() { Bg_color = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "To jest przykładowy paragraf z przykładowym tekstem, w przykładowym mailu.<br>Tu jest druga przykładowa linia oddzielona tagiem html." })

@*----- Buttons -----*@

@Html.Partial("modules/_Button", new Button() { Bg_color = "#0071C5", Color = "#ffffff", Align = "center", Padding = "10px", Text = "Button", Href = "https://www.ceneo.pl/" })

@*----- Separator -----*@

@Html.Partial("modules/_Separator", new Separator() { Height = "20px", Bg_color = "#ffffff" })

@*----- Title -----*@

@Html.Partial("modules/_Title", new Title() { Text = "Pora na przygodę", Status = "GOOD" })

@*----- Inne -----*@

<table style="width:100%">
    <tbody>
        <tr>
            <td width="310">@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "300", Align = "center", Padding = "0", Src = "https://cdn.dribbble.com/users/552485/screenshots/1706141/adventuretime-2-01.gif", Href = "https://www.ceneo.pl/" })</td>
            <td width="410">
                @Html.Partial("modules/_Paragraph", new Paragraph() { Bg_color = "#ffffff", Color = "#444444", Align = "left", Padding = "10px", Text = "Można łączyć kilka modułów w jenej tabeli, na przykład wyświetlając obok zdjęcie" })
                @Html.Partial("modules/_Button", new Button() { Bg_color = "#ff6400", Color = "#ffffff", Align = "left", Padding = "10px", Text = "START", Href = "https://www.ceneo.pl/" })
            </td>
        </tr>
    </tbody>
</table>

<table style="width:100%">
    <tbody>
        <tr>
            <td colspan="3">@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#778090", Padding = "10px", Text = "Istnieje kilka wielkości buttonów" })</td>
        </tr>
        <tr>
            <td style="width:33%">@Html.Partial("modules/_Button", new Button() { Size = "Small", Bg_color = "#0071C5", Color = "#ffffff", Align = "center", Padding = "10px", Text = "small", Href = "https://www.ceneo.pl/" })</td>
            <td style="width:33%">@Html.Partial("modules/_Button", new Button() { Size = "Medium", Bg_color = "#0071C5", Color = "#ffffff", Align = "center", Padding = "10px", Text = "Medium", Href = "https://www.ceneo.pl/" })</td>
            <td style="width:33%">@Html.Partial("modules/_Button", new Button() { Size = "Big", Bg_color = "#0071C5", Color = "#ffffff", Align = "center", Padding = "10px", Text = "<b>BIG</b>", Href = "https://www.ceneo.pl/" })</td>
        </tr>
    </tbody>
</table>

@Html.Partial("modules/_Img", new Img() { Desc = "Dodaj zdjęcie z paddingiem i opisz je pod spodem", Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "20px", Src = "https://www.geekster.be/wp-content/uploads/2017/12/at_christmas.jpg", Href = "https://www.ceneo.pl/" })

@Html.Partial("modules/_Separator", new Separator() { Height = "20px", Bg_color = "#ffffff" })

@Html.Partial("modules/_Footer", new Footer())

@Html.Partial("modules/_Separator", new Separator() { Height = "100px", Bg_color = "#eeeeee" })