@using MailGenerator.ViewModels.Shared

@Html.Partial("modules/_Separator", new Separator() { Height = "20px", BgColor = "#eeeeee" })

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Height = "37", Align = "right", Padding = "10px", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "center", Color = "#444444", Padding = "10px", Weight = "500", Text = "Jesteś teraz Użytkownikiem Ceneo.pl" })

@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Src = "https://image.ibb.co/hATuRo/hero.png", Href = "https://www.ceneo.pl/ssl-Club" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#444444", Padding = "20px", Weight = "400", Text = "Włącz usługę <b style='color:#f86210'>KUP TERAZ</b> i skorzystaj z pełnej integracji narzędzia Beselinker" })

@Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "0 20px 20px 0", Text = "Integracja umożliwia pobieranie zamówień, wystawianie ofert oraz dwustronną synchronizację stanów magazynowych. Szczegóły znajdziesz <a href='https://baselinker.blogspot.com/2019/01/integracja-z-ceneo-rowniez-bez-sklepu.html'>tutaj</a>" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#444444", Padding = "20px", Weight = "500", Text = "Jeżeli skorzystasz z oferty firmy Beselinker i Ceneo.pl otrzymasz pakiet bonusów:" })

<table style="table-layout:fixed; width: 100%">
<tbody>
    <tr>
        <td style="width: 33%; padding: 10px">
            @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#444444", Padding = "0", Weight = "500", Text = "Bon 200 zł" })
            <table style="table-layout:fixed; width: 100%"><tr><td></td><td style="width:30%; padding: 1px; background-color: #f86210; font-size: 0"></td><td></td></tr></table>
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "0", Text = "na usługę" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "<b>Podświetlania ofert</b>" })
        </td>
        
        <td style="width: 33%; padding: 10px">
            @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#444444", Padding = "0", Weight = "500", Text = "Bon 200 zł" })
            <table style="table-layout:fixed; width: 100%"><tr><td></td><td style="width:30%; padding: 1px; background-color: #f86210"></td><td></td></tr></table>
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "0", Text = "na usługę" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "<b>Podświetlania ofert</b>" })
        </td>
        
        <td style="width: 33%; padding: 10px">
            @Html.Partial("modules/_Heading", new Heading() { Tag = "h2", Align = "center", Color = "#444444", Padding = "0", Weight = "500", Text = "Darmowa usługa" })
            <table style="table-layout:fixed; width: 100%"><tr><td></td><td style="width:30%; padding: 1px; background-color: #f86210"></td><td></td></tr></table>
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "0", Text = "przez 3 miesiące" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "<b>Ochrona Marki</b>" })
        </td>
    </tr>
</tbody>

</table>

@Html.Partial("modules/_Separator", new Separator() { Height = "20px", BgColor = "#ffffff" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#444444", Padding = "20px", Weight = "500", Text = "Pozostałe korzyści usługi <b style='color:#f86210'>KUP TERAZ</b>:" })

<table style="table-layout:fixed; width: 100%">
    <tr>
        <td style="width: 50%; vertical-align: top">
            @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Width = "120", Height = "90", Src = "https://image.ceneostatic.pl/data/custom_images/253/custom_image.png", Href = "https://www.ceneo.pl/ssl-Club" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "Płacisz tylko za transakcję - Brak opłaty za wystawienie przedmiotu" })
        </td>
        <td style="width: 50%; vertical-align: top">
            @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Width = "120", Height = "90", Src = "https://image.ceneostatic.pl/data/custom_images/254/custom_image.png", Href = "https://www.ceneo.pl/ssl-Club" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "Atrakcyjny system prowizyjny - Średni koszt prowizji to tylko 1,7%. Prowizja tylko za zrealizowaną sprzedaż." })
        </td>
    </tr>
</table>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td style="width: 50%; vertical-align: top">
            @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Width = "120", Height = "90", Src = "https://image.ceneostatic.pl/data/custom_images/255/custom_image.png", Href = "https://www.ceneo.pl/ssl-Club" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "5px", Text = "Szybkie płatności za 0 zł - Systemu ratalny, karty kredytowe, przelewy na Twoje konto - bez dodatkowych opłat i prowizji. Oszczędzasz nawet 1,5% od każdej takiej transakcji." })
        </td>
        <td style="width: 50%; vertical-align: top">
            @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Width = "120", Height = "90", Src = "https://image.ceneostatic.pl/data/custom_images/256/custom_image.png", Href = "https://www.ceneo.pl/ssl-Club" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "10px", Text = "Bądź lepiej widoczny - Tylko oferty w usłudze KUP TERAZ prezentowane są bezpłatnie w nagłówku strony z logotypem sklepu." })
        </td>
    </tr>
</table>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td></td>
        <td style="width: 50%; vertical-align: top">
            @Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Align = "center", Width = "160", Height = "120", Src = "https://image.ceneostatic.pl/data/custom_images/258/custom_image.png", Href = "https://www.ceneo.pl/ssl-Club" })
            @Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "center", Padding = "5px", Text = "Aktualizacja ofert - Dodatkowe aktualizowanie cen i dostępności ofert nawet kilka razy dziennie." })
        </td>
        <td></td>
    </tr>
</table>

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "center", Color = "#444444", Padding = "20px", Weight = "500", Text = "Jeśli masz pytania skontaktuj się z nami - <a href='mailto:wsparciesklepu@ceneo.pl'>wsparciesklepu@ceneo.pl</a>" })

@Html.Partial("modules/_Footer", new Footer())

@Html.Partial("modules/_Separator", new Separator() { Height = "20px", BgColor = "#eeeeee" })
