@using MailGenerator.ViewModels.Shared
@Html.Partial("modules/_Separator", new Separator() { Height = "50px", Bg_color = "#eeeeee" })
@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "720", Align = "center", Padding = "0", Src = "https://image.ceneostatic.pl/data/article_picture/ec/b9/f227-96ab-476d-a04b-edfcf975424e_large.png", Href = "https://www.ceneo.pl/" })
@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "center", Color = "#444444", Padding = "10px", Weight = "500", Text = "DRUGA EDYCJA" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "Cześć," })
@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "przyszedł czas na zapowiedź drugiej edycji naszych szkoleń LP Masters!" })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "W związku z tym zapraszam wszystkich zainteresowanych na warsztaty poświęcone podstawami HTML i CSS." })

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "Podczas szkolenia zostanie zaprezentowana nowa instrukcja importowania LP Html oraz specjalny validator dzięki któremu będziemy wiedzieć czy LP zadziała po wrzuceniu i jakie ewentualne błędy trzeba poprawić." })

<table>
<tr>
<td style="padding: 10px;">
<table>
<tr>
<td style="padding: 10px; background-color: #ff8518; color: white;">
    <b>#Druga część</b>
    <ul>
    <li>Omówienie podstaw HTML i CSS,</li>
    <li>prezentacja nowej instrukcji importu LP Html,</li>
    <li>prezentacja validatora LP Html,</li>
    <li>przykłady praktyczne</li>
    </ul>
</td>
</tr>
</table>
</td>
</tr>
</table>

@Html.Partial("modules/_Heading", new Heading() { Tag = "h3", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "Start: 27 marca, godzina 16:00 [Grunwald obok chilla]" })
@Html.Partial("modules/_Heading", new Heading() { Tag = "h4", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "Wymagane laptopy" })

@Html.Partial("modules/_Separator", new Separator() { Height = "50px", Bg_color = "#eeeeee" })
