@using MailGenerator.ViewModels.Shared
@Html.Partial("modules/_Img", new Img() { Alt = "Ceneo.pl", Width = "81", Align = "right", Padding = "10px", Src = "https://www.ceneo.pl/Content/img/icons/logo-ceneo.png", Href = "https://www.ceneo.pl/" })


@Html.Partial("modules/_Heading", new Heading() { Tag = "h1", Align = "left", Color = "#444444", Padding = "10px", Weight = "500", Text = "Witamy," })

@Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "left", Padding = "10px", Text = "Niniejszym informujemy, że dnia 03.03.2019 wejdą w życie zmiany w Regulaminie świadczenia usług w ramach Strefy Polecanych Ofert i Strefy Polecanych Produktów.<br><br>Z pełną treścią regulaminu mogą Państwo zapoznać się pod adresem: <a href='https://shops.ceneo.pl/documents/Strefa-polecanych-ofert-regulamin.pdf'>https://shops.ceneo.pl/documents/Strefa-polecanych-ofert-regulamin.pdf</a> " })

@Html.Partial("modules/_Paragraph", new Paragraph() { BgColor = "#ffffff", Color = "#444444", Align = "right", Padding = "10px", Text = "<i>Zespół Ceneo</i>" })

@Html.Partial("modules/_Footer", new Footer())
